/* Put your reset styles here */


/* desktop and basic styles for all devices here */
body {
  	/* properties for body here */
	background-color: #E6E8DD;
	color: #3E3F39;

	font-family: Georgia, serif;
	font-size: 106%;

	line-height: 1.5;
}

#content {
	margin: 0 auto;
	width: 30em;
}

h1 {
	margin: 0;
	
	padding: 2.5em;
	padding-bottom: 1em;
	
	font-family: "droid-sans-mono", monaco, menlo, monospace;
	font-size: 1.75em;
	font-style: normal;
	font-weight: normal;
	
	text-align: center;
	text-transform: uppercase;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

a { 
	text-decoration: none;
	color: "Cornflower Blue";
}

a:visited {
	color: "Cornflower Blue";
}

a:hover, a:active {
	color: "Cornflower Blue";
}


/* medium displays */
@media (min-width: 481px) and (max-width:768px) {
  body {
    /* properties that only apply to tablets */

  }
}

/* small displays */
@media (max-width:480px) {
	body {
		/* properties that only apply to phones */
		font-size: 110%;
	}

	h1 {
		font-size: 1.25em;
	}

	#content {
		margin: 0 auto;
		padding: 0 1em;
		width: 20em;
	}
}




